:root {
    --bk: red;
    --img1: blue;
    --img2: green;
    --img3: yellow;
    --img4: violet;
    --img5: purple;
}
p {
    font-family: verdana;
    font-size: 3em;
    text-align: center;
    color: rgb(36, 36, 36);
    animation: 5s ease mutationText infinite;
}
@keyframes slideshow1 {
    0% {
        position: absolute;
        z-index: 1;
    }
    19% {
        position: absolute;
        z-index: 1;
    }
    100% {
        position: relative;
        z-index: 0;
    }
}
@keyframes slideshow2 {
    0% {
        position: relative;
        z-index: 0;
    }
    20% {
        position: absolute;
        z-index: 1;
    }
    39% {
        position: absolute;
        z-index: 1;
    }
    100% {
        position: relative;
        z-index: 0;
    }
}
@keyframes slideshow3 {
    0% {
        position: relative;
        z-index: 0;
    }
    40% {
        position: absolute;
        z-index: 1;
    }
    59% {
        position: absolute;
        z-index: 1;
    }
    100% {
        position: relative;
        z-index: 0;
    }
}
@keyframes slideshow4 {
    0% {
        position: relative;
        z-index: 0;
    }
    60% {
        position: absolute;
        z-index: 1;
    }
    89% {
        position: absolute;
        z-index: 1;
    }
    100% {
        position: relative;
        z-index: 0;
    }
}
@keyframes slideshow5 {
    0% {
        position: relative;
        z-index: 0;
    }
    90% {
        position: absolute;
        z-index: 1;
    }
    100% {
        position: absolute;
        z-index: 1;
    }
}
@keyframes mutation {
    from {

    }
    50% {
        filter: invert(120%);
    }
    to {

    }
}
@keyframes mutationText {
    from {
        filter: invert(120%);
    }
    50% {
        
    }
    to {
        filter: invert(120%);
    }
}